:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
  --section-background: #ececec;
  --main-transition: 0.3s;
}
* {
  box-sizing: border-box;
  list-style: none;
  transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #0075ff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
/**end-of-global**/
/**start-of-dash-flex**/
.dash-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}
.dash-flex > div:last-child {
  flex: 2;
}

.dash-nav h2 {
  text-align: center;
  position: relative;
  margin-top: 10px;
  font-size: 13px;
}
.dash-nav a {
  color: black;
  background-color: white;
  padding: 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 6px;
}
.dash-nav a i {
  margin-right: 10px;
  font-size: 14px;
}
.dash-nav a span {
  display: flex;
  align-items: center;
}
.dash-logo {
  display: flex;
  justify-content: center;
}
.dash-nav {
  box-shadow: 0 0 10px #ddd;
}
.dash-nav a:hover {
  background-color: #f6f6f6;
  border-radius: 6px;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .dash-nav {
    padding: 20px;
  }
  .dash-nav a {
    padding-right: 30px;
  }
  .dash-nav h2::before {
    content: "";
    position: absolute;
    background-color: black;
    bottom: -16px;
    width: calc(100% + 20px);
    height: 2px;
    left: -10px;
  }
  .dash-nav h2::after {
    position: absolute;
    background-color: black;
    bottom: -27px;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 6px solid white;
  }
  .dash-nav h2 {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .dash-nav a span {
    display: none;
  }
  .dash-nav h2 {
    padding: 10px;
    margin-bottom: 0;
  }
  .dash-nav a {
    justify-content: center;
  }
  .dash-nav a i {
    margin-right: 0;
  }
  .dash-nav {
    width: 10%;
  }
  .dashboard {
    width: 88%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1249px) {
  .dashboard {
    width: 76%;
  }
}
/**end-of-dash-flex**/
/**start-of-dashboard**/
.dashboard {
  background-color: #f1f5f9;
}
.dashboard .dash-search {
  padding: 10px;
  padding-left: 30px;
  border: #777777bd solid 1px;
  width: 180px;
}

.dash-search:hover {
  border: #777777bd solid 1px;
  width: 200px;
  transition: 0.3s;
}
.dashboard .search-position {
  position: relative;
}
.dashboard .search-position i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #777777bd;
}
.dash-icon {
  display: flex;
  justify-content: right;
  align-items: center;
}
.dash-icon img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: 4px;
}
.dash-header {
  padding: 15px;
  background-color: white;
}
@media (max-width: 768px) {
  .dash-content-grid > div {
    margin-bottom: 20px;
  }
}
/**end-of-dashboard**/
/**start-of-dash-content**/
.dash-content {
  background-color: #f1f5f9;
}
.dash-content h1 {
  margin: 10px;
  margin-bottom: 30px;
  position: relative;
}
/**end-of-dash-content**/
/**start-of-box-1**/
.box-1 .welcome-top img {
  width: 200px;
}
.box-1 .welcome-top p {
  color: #888888;
}
@media (max-width: 767px) {
  .box-1 .welcome-top img {
    display: none;
  }
}
@media (min-width: 768px) {
}
.welcome-bottom {
  padding: 60px 40px;
  position: relative;
}
.welcome-bottom img {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  border: white 4px solid;
  border-radius: 50%;
}
.welcome-middle h3 {
  font-weight: lighter;
}
.welcome-middle p {
  font-size: 15px;
  color: #888888;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .welcome-bottom img {
    left: 20px;
    transform: translateX(0);
  }
  .welcome-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .welcome-middle div {
    flex: 1;

    text-align: center;
  }
}
@media (max-width: 767px) {
  .welcome-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .welcome-middle div {
    text-align: center;
  }
}
.welcome-middle {
  margin: 0 -40px;
  border: 1px #eee solid;
  border-width: 1px 0;
  padding: 20px 0;
}
.welcome-bottom a {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 10px;
  color: white;
  background: var(--blue-color);
  border-radius: 6px;
}
.welcome-bottom a:hover {
  background-color: var(--blue-alt-color);
  color: white;
}
/**end-of-box-1**/
/**start-of-box-2**/
.box-2 h2 {
  margin: 0;
}
.box-2 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box-2 form textarea {
  min-height: 160px;
}
.box-2 {
  position: relative;
  padding-bottom: 10px !important;
}
.box-2 form input,
textarea {
  border: none;
}
.box-2 form .save {
  width: 60px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  border-radius: 6px;
  color: white;
  background: var(--blue-color);
}
.box-2 form .save:hover {
  background-color: var(--blue-alt-color);
  cursor: pointer;
}
/**end-of-box-2**/
/**start-of-box-3**/
/* Start Targets */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}
/* End Targets */
/**end-of-box-3**/
/**start-of-box-4**/

.box-4-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px #ccc;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
}
.box4-c1,
.box4-c2 {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .box-4-content {
    margin-bottom: 20px;
  }
  .box-4 {
    padding-bottom: 0 !important;
  }
}
.box-4-flex {
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .box-4-content {
    width: 48%;
  }
}
/**end-of-box-4**/
/**start-of-box-5**/
@media (max-width: 767px) {
  .box-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box-5 article,
  .box-5 h3,
  .box-5 p {
    text-align: center;
  }
  .box-5 .l-news img {
    width: 160px;
    margin: 10px 40px;
    border-radius: 6px;
  }
  .box-5 .l-news article {
    margin: auto;
  }
  .l-news {
    padding: 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.box-5 .l-news img {
  width: 160px;
  border-radius: 6px;
}
.box-5 .l-news article {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
}
.l-news {
  border-bottom: 1px #eee solid;
}
.l-news:last-child {
  border: none;
}
@media (min-width: 768px) {
  .l-news {
    padding: 20px 0;
    display: flex;
  }
  .news-flex {
    display: flex;
    justify-content: space-between;
    width: 78%;
  }
  .box-5 .l-news img {
    width: 20%;
    border-radius: 6px;
    margin-right: 15px;
  }
  .box-5 .l-news h3 {
    margin: 10px 0;
  }
  .box-5 .l-news p {
    margin: 0;
  }
  .box-5 article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: auto 0;
    border: 6px;
    padding: 15px;
  }
}
.box-5 {
  padding-bottom: 0 !important;
}
/**end-of-box-5**/
/**start-of-box-6**/
.box-6 i {
  margin: auto 0;
}
.rec:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.box-6 h4 {
  margin-bottom: 0;
}
.rec-spc h4,
.rec-spc p {
  text-decoration: line-through;
}
.rec-spc {
  opacity: 0.3;
}
@media (max-width: 768px) {
  .box-6 p {
    max-width: 220px;
  }
}
/**end-of-box-6**/
/**start-of-box-7**/
.box-7 .bg-eee {
  padding: 5px 10px;
  border-radius: 6px;
}
/**end-of-box-7**/
/**start-of-box-8**/
.box-8 h3 {
  width: 160px !important;
}
.box-8 .flex-between:not(:first-child) {
  margin-top: 10px !important;
}
.box-8 .color-888 {
  margin: 10px 0;
}
/**end-of-box-8**/
.box-2 h2 {
  margin-bottom: 1 !important;
}
/* Start Last Project */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
/* End Last Project */
/**start-of-box-10**/
/* Start Reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* End Reminders */
/**end-of-box-10**/
/**start-of-box-11**/
.b-11-flex h4,
.b-11-flex p {
  margin: 0 0 10px 0;
}
/**end-of-box-11**/
/**start-of-box-12**/
.box-12-flex {
  display: flex;
  align-items: center;
}
.box-12 i {
  color: white;
}
.box-12-twiter {
  background-color: #1da1f2;
  padding: 12px 10px;
  margin-right: 20px;
}
.box-12 .twiter {
  background-color: rgb(29 161 242 / 20%);
}
.box-12 .twiter a {
  display: block;
  margin: auto 10px;
  padding: 5px 10px;
  background-color: #1da1f2;
  color: white;
  border-radius: 6px;
}
.box-12 .twiter p {
  color: #1da1f2;
}
.box-12-facebook {
  background-color: #1877f2;
  padding: 12px 16px;
  margin-right: 20px;
}
.box-12 .facebook {
  background-color: rgb(24 119 242 / 20%);
}
.box-12 .facebook a {
  display: block;
  margin: auto 10px;
  padding: 5px 10px;
  background-color: #1877f2;
  color: white;
  border-radius: 6px;
}
.box-12 .facebook p {
  color: #1877f2;
}
.box-12-youtube {
  background-color: #ff0000;
  padding: 12px 8px;
  margin-right: 20px;
}
.box-12 .youtube {
  background-color: rgb(255 0 0 / 20%);
}
.box-12 .youtube a {
  display: block;
  margin: auto 10px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: white;
  border-radius: 6px;
}
.box-12 .youtube p {
  color: #ff0000;
}
.box-12-linkdin {
  background-color: #0077b5;
  padding: 12px 12px;
  margin-right: 20px;
}
.box-12 .linkdin {
  background-color: rgb(0 119 181 / 20%);
}
.box-12 .linkdin a {
  display: block;
  margin: auto 10px;
  padding: 5px 10px;
  background-color: #0077b5;
  color: white;
  border-radius: 6px;
}
.box-12 .linkdin p {
  color: #0077b5;
}
.box-12 i {
  font-size: 32px;
}
.box-12 .flex-between {
  margin-bottom: 10px;
}
.box-12-icon:hover {
  transform: rotate(5deg);
}

/**end-of-box-12**/
/**start-of-project-table**/
.project-table table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
}
.project-table table td {
  padding: 15px;
}
.project-table table th {
  padding: 15px;
  text-align: left;
}
.project-table table thead th {
  background-color: #eee;
}
.project-table table td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.project-table table {
  border-spacing: 0;
  font-size: 15px;
  min-width: 1000px;
  width: 100%;
  border-left: 1px solid #eee;
}
.table-responsive {
  overflow-x: auto;
}
.project-table table img:not(:first-child) {
  margin-left: -20px;
}
.project-table table p {
  padding: 10px;
  border-radius: 6px;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.project-table tr:hover td {
  background-color: #faf7f7;
  transition: 0.3s;
}
.project-table .table-responsive::-webkit-scrollbar {
  width: 1em;
}
.project-table .table-responsive::-webkit-scrollbar-thumb {
  background-color: #0075ff;
}
/**end-of-project-table**/
/**start-of-setting**/
/**start-of-set-1**/
.set-1 form textarea {
  width: 100%;
  border: 1px solid #ccc;
  resize: none;
  border-radius: 6px;
  min-height: 150px;
}
.toggle-checkbox {
  display: none;
}
.toggle-switch {
  position: relative;
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
label {
  display: flex;
  align-items: center;
}
/**end-of-set-1**/
/**start-of-set-2**/
.set-2 form input {
  border-color: #ccc;
  border-width: 1px;
}
.set-2 .change-flex {
  display: flex;
  flex-wrap: wrap;
}
.set-2 .change-flex .change {
  background-color: white;
  margin-left: 10px;
  padding: 10px 0;
  border: 0;
  color: var(--blue-color);
  cursor: pointer;
}
@media (max-width: 590px) {
  .set-2 .change-flex .change {
    width: 15% !important;
  }
  .set-2 .change-flex .disabled {
    width: 82% !important;
  }
}
.set-2 form label {
  padding-left: 0 !important;
}
/**end-of-set-2**/
/**start-of-set-3**/
.set-3 .pass a {
  padding: 10px;
  background-color: var(--blue-color);
  border-radius: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  color: white;
}
.set-3 .devi a {
  padding: 10px;
  background-color: #eee;
  border-radius: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  color: black;
}
/**end-of-set-3**/
/**start-of-set-4**/
.set-4 label {
  border-radius: 6px;
}
.set-4 label i {
  height: 40px;
  background-color: #f6f6f6;
  width: 40px;
  display: flex;
  justify-content: center;
  color: #888;
  font-size: 20px;
  border: 1px solid #ddd;
  border-right: 0;
  align-items: center;
  border-radius: 6px 0 0 6px;
}
.set-4 input {
  height: 40px;
  width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 0 6px 6px 0;
}
/**end-of-set-4**/
/**start-of-set-5**/
.set-5 form > label {
  margin-bottom: 15px;
}
.set-5 form label label {
  padding-left: 10px;
}
.set-5 form input {
  width: 18px;
  height: 18px;
}
.set-5 label,
.set-5 input {
  cursor: pointer;
}
/**end-of-set-5**/
/**start-of-set-6**/
.set-6 form > label {
  margin-bottom: 15px;
}
.set-6 form label {
  padding-left: 10px;
}
.set-6 input {
  width: 18px;
  height: 18px;
}
.set-6 label,
.set-6 input {
  cursor: pointer;
}
/**end-of-set-6**/
/**start-of-set-7**/
.servers input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.servers .server {
  border: 2px solid #eee;
  position: relative;
}
.servers .server label {
  cursor: pointer;
}
.server i {
  display: block;
}
@media (min-width: 768px) {
  .servers .server {
    width: 110px;
  }
  .servers {
    justify-content: center;
  }
}
/**end-of-set-7**/
/**end-of-setting**/
/**start profile**/
/* start-of-prof-1 */
.prof-1 {
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .prof-1 {
    flex-direction: row;
  }
  .prof-1-right {
    flex: 2;
  }
  .prof-1-left {
    border-right: 2px solid #eee;
  }
}
.prof-1-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .prof-1-left {
    min-width: 220px;
  }
}
@media screen and (min-width: 992px) {
  .prof-1-left {
    min-width: 250px;
  }
}
.prof-1-left img {
  width: 120px;
  height: 120px;
}
.prof-1 h3 {
  margin-bottom: 0;
}
.prof-1-left .progress-bar {
  width: 150px;
  height: 6px;
  background-color: #eee;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  margin-bottom: 10px;
}
.prof-1-left .progress-bar::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 70%;
  background-color: var(--blue-color);
  border-radius: inherit;
}
.prof-1-left i {
  color: var(--orange-color);
}

.prof-1 .prof-1-right div h4 {
  margin: 0 0 20px 0;
}
.prof-1 .prof-1-right .p-r-flex .m-w-250 {
  margin-right: 40px;
}
.prof-1 .prof-1-right .toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.prof-1-right .p-r-flex > div h4:not(:first-child) {
  padding-left: 5px;
}
.prof-1 .prof-1-right .toggle-switch {
  position: relative;
  width: 105px;
  background-color: #ccc;
  height: 28px;
  border-radius: 12px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.prof-1 .prof-1-right .toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  color: #aaa;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 4px;
  position: absolute;
  transition: 0.3s;
}
.prof-1 .prof-1-right .toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.prof-1 .prof-1-right .toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 80px;
  color: var(--blue-color);
}
.prof-1-right > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/* end-of-prof-1 */
/* start-of-n-prof-2-3 */
@media (min-width: 768px) {
  .n-prof-2-3 {
    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(330px, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "prof-2 prof-3 ";
  }
}
/* end-of-n-prof-2-3 */
/* start-of-prof-2 */
.prof-2 {
  grid-area: prof-2;
}
@media (max-width: 767px) {
  .prof-2 > div {
    justify-content: center;
  }
}
.prof-2 > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.prof-2 > div {
  padding: 14px 0;
}
.prof-2 > div p {
  margin: 0 10px 0 0;
}
/* end-of-prof-2 */
/* start-of-prof-3 */
.prof-3 .prof-3-img img {
  width: 64px;
  height: 64px;
}
.prof-3 {
  grid-area: prof-3;
}
@media screen and (max-width: 767px) {
  .prof-3 .prof-3-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .prof-3 .prof-3-img img {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .prof-3-flex {
    display: flex;
    justify-content: space-between;
  }
  .prof-3 .prof-3-img {
    display: flex;
  }
  .prof-3 .prof-3-img img {
    margin-right: 10px;
  }
  .prof-3 .prof-right-text {
    margin-left: 10px;
  }

  .prof-3 .prof-left-text h4,
  .prof-3 .prof-right-text h4 {
    margin-top: 5px;
  }
  .prof-3 .prof-left-text p,
  .prof-3 .prof-right-text p {
    margin-top: 10px;
  }
}
.prof-3-flex {
  padding: 25px 0;
}
.prof-3 .prof-3-flex:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* end-of-prof-3 */
/**end profile**/
/* start-of-project*/
@media (min-width: 768px) {
  .project-content-grid {
    display: grid;
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
.project .proj img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
.project .proj .proj-team img:not(:first-child) {
  margin-left: -20px;
}
.project .proj .proj-team img:hover {
  z-index: 2;
  position: relative;
}
.project .proj .proj-team {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.project .proj-flex {
  border-bottom: 1px solid #eee;
}
.project .proj-flex p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
}
@media (min-width: 768px) {
  .project .proj-flex {
    display: flex;
    justify-content: flex-end;
  }
  .project .proj-flex p {
    margin-left: 5px;
  }
}
.proj-last .proj-progress {
  border-radius: 10px;
  width: 250px;
  height: 8px;
  margin-top: 10px;
  z-index: 1;
}
.proj-last .proj-progress::before {
  position: absolute;
  content: "";
  right: 0;
  height: 100%;
  z-index: 2;
  background-color: #eee;
  border-radius: 0 10px 10px 0;
}
.proj-1 .proj-last .proj-progress {
  background-color: var(--red-color);
}
.proj-1 .proj-last .proj-progress::before {
  width: 50%;
}
.proj-2 .proj-last .proj-progress {
  background-color: var(--green-color);
}
.proj-2 .proj-last .proj-progress::before {
  width: 20%;
}
.proj-3 .proj-last .proj-progress {
  background-color: var(--blue-color);
}
.proj-3 .proj-last .proj-progress::before {
  width: 10%;
}
.proj-4 .proj-last .proj-progress {
  background-color: var(--green-color);
}
.proj-4 .proj-last .proj-progress::before {
  width: 40%;
}
.proj-5 .proj-last .proj-progress {
  background-color: var(--green-color);
}
.proj-5 .proj-last .proj-progress::before {
  width: 30%;
}
.proj-6 .proj-last .proj-progress {
  background-color: var(--red-color);
}
.proj-6 .proj-last .proj-progress::before {
  width: 65%;
}
.proj-7 .proj-last .proj-progress {
  background-color: var(--green-color);
}
.proj-7 .proj-last .proj-progress::before {
  width: 35%;
}
.proj-8 .proj-last .proj-progress {
  background-color: var(--green-color);
}
.proj-8 .proj-last .proj-progress::before {
  width: 40%;
}
.proj-9 .proj-last .proj-progress {
  background-color: var(--green-color);
}
.proj-9 .proj-last .proj-progress::before {
  width: 10%;
}

.proj-last p {
  margin: 10px 0 0 0;
}
.proj-date {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 767px) {
  .proj-last {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .proj-last {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
  }
}
.proj {
  margin-bottom: 20px;
}
/* end-of-project */
/**start-of-course**/
@media (min-width: 768px) {
  .course-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.course {
  margin-bottom: 20px;
  overflow: hidden;
}
.c-t-img {
  width: 64px;
  height: 64px;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  border: 2px solid white;
}
.course-img {
  width: 100%;
}
.middle-course p {
  line-height: 1.6;
}
.last-course {
  border-top: 1px solid #eee;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  color: #888;
}
.last-course i {
  margin-right: 5px;
}
.last-course a {
  left: 50%;
  transform: translateX(-50%);
  top: -14px;
  z-index: 0;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  padding: 4px 10px;
  padding-top: 6px;
  border-radius: 6px;
}
/* end-of-course */
/* start-of-friends */
@media (min-width: 768px) {
  .friend-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.friend {
  margin-bottom: 20px;
}
.friend-contact {
  top: 20px;
  left: 20px;
  display: flex;
}
.friend-contact i {
  color: #666;
  font-size: 13px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.friend-contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.top-friend {
  text-align: center;
}
.top-friend img {
  margin: 5px 0;
  width: 100px;
  height: 100px;
}
.top-friend h4 {
  margin: 0;
}
.top-friend p {
  margin-top: 5px;
}
.middle-friend {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
.middle-friend > div:first-child {
  padding: 10px 0;
}
.middle-friend > div:last-child {
  padding: 10px 0;
}
.last-friend {
  padding-top: 15px;
}
.last-friend span {
  color: #888;
  font-size: 13px;
}
.last-friend a {
  background-color: var(--blue-color);
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  margin-right: 4px;
  font-size: 14px;
}
.last-friend .remove {
  background-color: var(--red-color) !important ;
  margin-right: 0;
}

/* end-of-friends */
/* start-of-plans */
@media (min-width: 768px) {
  .plan-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.plan {
  margin-bottom: 20px;
}
.plan .plan-top {
  text-align: center;
  background-color: var(--green-color);
  padding: 5px;
  border: 3px solid white;
  outline: 3px solid var(--green-color);
  color: white;
}
.plan-2 .plan-top {
  background-color: var(--blue-color);
  outline-color: var(--blue-color);
}
.plan-3 .plan-top {
  background-color: var(--orange-color);
  outline-color: var(--orange-color);
}
.plan .plan-top div {
  display: flex;
  justify-content: center;
}
.plan .plan-top h2 {
  margin: 10px;
  font-size: 22;
}
.plan .plan-top p {
  margin: 10px 3px;
  font-weight: bold;
}
.plan .plan-top span {
  font-weight: bold;
}
.plan .plan-mid {
  margin: 15px 0;
}
.plan-mid > div {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.plan .plan-mid .yes {
  margin-right: 5px;
  color: var(--green-color);
}
.plan .plan-mid .no {
  margin-right: 5px;
  color: var(--red-color);
}

.plan .plan-mid span {
  font-size: 15px;
}
.plan .plan-mid .help {
  color: var(--grey-color);
}
.plan > a {
  padding: 4px 10px;
  background-color: var(--green-color);
  border-radius: 6px;
  color: white;
}
.plan-2 > a {
  background-color: var(--blue-color);
}
/* end-of-plans */
/* start-of-files */
.file-static > div {
  padding: 10px;
  border: 1px solid #eee;
  margin-bottom: 15px;
}
.file-static h2 {
  margin-top: 0;
}
.file-static > div i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: auto 10px auto 0;
  background-color: rgb(0 117 255 / 20%);
  color: var(--blue-color);
}

.file-static .file-green i {
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}
.file-static .file-red i {
  background-color: rgb(244 67 54 / 20%);
  color: var(--red-color);
}
.file-static .file-orange i {
  background-color: rgb(245 158 11 / 20%);
  color: var(--orange-color);
}

.file-static > div > div h4 {
  margin: 4px 0 6px;
  font-weight: normal;
}
.file-static > div > div p {
  margin: 0;
}
.file-static > div p {
  font-size: 13px;
}
.file-static > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--blue-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  position: relative;
}
.file-static > a i {
  padding-right: 10px;
}
.file-static > a:hover i {
  -webkit-animation-name: bouncing;
          animation-name: bouncing;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes bouncing {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes bouncing {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0;
  }
}
.file-content-grid > div {
  margin-bottom: 20px;
}
/* start-of-files-big */
.files-big .file img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.file .file-top {
  text-align: center;
  padding: 10px 0 0;
}
.file .file-top h4 {
  margin: 12px 0 0 0;
  font-weight: normal;
}
.file > p {
  padding: 15px 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.file .file-bottom {
  color: #888;
  padding-bottom: 2px;
  font-size: 13px;
}
.file:hover .file-top img {
  transform: rotate(5deg);
  transition: 0.3s;
}
/* end-of-files-big */
/**start- of-file-grid**/
@media (min-width: 768px) {
  .file-content-grid {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-direction: row-reverse;
  }
  .files-big {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  .file-static {
    max-height: 500px;
    min-width: 250px;
  }
}

/**end-of-file-grid**/
/* end-of-files */
/**fixing-an-error**/
@media (max-width: 588px) {
  .dash-content {
    width: 98%;
  }
}
@media (max-width: 767px) {
  .dash-content-grid {
    display: block !important;
  }
  .l-news {
    padding: 0 0 20px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 781px) {
  .dashboard {
    width: 75%;
  }
}
@media (max-width: 415px) {
  .prof-1-left,
  .prof-1-right {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .box-12-icon {
    margin-right: 5px;
  }
  .box-12 p,
  .box-12 a {
    font-size: 10px;
  }
  .box-12 a {
    margin: auto 4px auto auto !important;
  }
}
@media (max-width: 360px) {
  .prof-1-right {
  }
  .dashboard .dash-search {
    width: 130px;
  }

  .dash-logo h2 {
    font-size: 6px !important;
  }
  .rec {
    padding: 0 0 10px;
  }
  .proj-last .proj-progress {
    width: 200px !important;
  }
  .last-friend div {
    margin-top: 10px;
  }
  .l-news {
    width: 100%;
  }
  .l-news h3 {
    font-size: 14px;
  }
  .l-news p {
    font-size: 12px;
  }
  .l-news img {
    width: 120px;
  }
}
@media (max-width: 320px) {
  .plan-mid span {
    max-width: 130px;
  }
  .file-static h4,
  .file-static > div p {
    font-size: 10px;
  }
  .file-static > div i {
    margin: auto 5px auto 0 !important;
    width: 35px;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
  .plan-mid span {
    max-width: 155px;
  }
}
@media (max-width: 560px) {
  .dash-logo h2 {
    font-size: 10px;
  }
}
@media (max-width: 590px) {
  .set-2 .change-flex .change {
    width: auto !important;
  }
}
.dasg-logo {
  box-shadow: ;
}
/**fixing-an-error**/ ;
